.login .bg-teal{
  background-color: #162c43;
  padding: 30px;
}

.login .bg-teal h2{
  color: white;
  text-align: center;
}

.login button{
  margin: 20px 0px 0px;
}

.login .form-container{
  margin-top: 100px;
}

.login .errorMessage{
  border-radius: 20px;
}